
MONGODB_URL={mongodb_url}
DATABASE_NAME={database_name}
REDIS_URL={redis_url}
REDIS_PORT={redis_port}
REDIS_DB={redis_db}

RATE_LIMIT=10/minute

JWT_SECRET_KEY={jwt_secret_key}
JWT_ALGORITHM={jwt_algorithm}
JWT_ACCESS_TOKEN_EXPIRE_MINUTES={jwt_access_token_expire_minutes}